:root {
  --site-width: 800px;

  --color-bg-default: #fff;
  --color-text-default: #000;

  --color-bg-header: #191919;

  --color-outline: #efefef;
}

[data-theme='dark'] {
  --color-bg-default: #000;
  --color-text-default: #eee;
  --color-bg-main: #222;
  --color-outline: #999;
}