<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cost per unit</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Cost per unit calculator">
    <meta property="og:description" content="How much does one item cost?" name="description">
    <meta property="og:image" content="https://talyguryn.github.io/costperunit/icons/logo-114x114.png">

    <link rel="apple-touch-icon" href="icons/logo-114x114.png">
    <link rel="shortcut icon" type="image/png" href="icons/logo-114x114.png">
    <link rel="manifest" href="manifest.webmanifest">

    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="script.js" onload="document.getElementById('app').style.display = 'block';"></script>
    <style>

    </style>
</head>
<body>
    <div id="app" style="display: none">
        <div class="result"
            @click="saveToHistory"
        >
            <div class="result__header">Cost per unit</div>
            <div class="result__price">{{ cost }}</div>
        </div>

        <div class="data">
            <div class="data__label">
                Price
            </div>
            <input
                class="data__input"
                ref="value"
                type="number"
                placeholder="29.99"
                v-model="price"
            >
        </div>

        <div class="data">
            <div class="data__label">
                Weight / Volume / Amount
            </div>
            <input
                class="data__input"
                ref="value"
                type="number"
                placeholder="2"
                v-model="value"
            >
        </div>

        <div class="history">
            <div class="history__item"
                 v-for="(item, index) in historyItems.slice().reverse()">
                {{ item.cost }} per unit <span class="text--gray">{{ item.value }} for {{ item.price }}</span>
            </div>
        </div>
    </div>
</body>
</html>