:root {
    --color-bg: #fff;
    --color-bg-input: #fff;
    --color-text--main: #000;
    --color-text--secondary: #ccc;

    --outline: 1px solid var(--color-text--secondary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #000;
        --color-bg-input: #333;
        --color-text--main: #eee;
        --color-text--secondary: #555;

        --outline: none;
    }
}

html, body {
    font-family: Roboto;
    background-color: var(--color-bg);
}
body {
    margin: 0;
}
#app {
    margin: 50px auto 0;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.result {
    margin: 20px 0;
    color: var(--color-text--main);
}

.result__header {
    text-align: center;
    font-size: 16px;
}

.result__price {
    text-align: center;
    font-size: 64px;
}

.data {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.data__label {
    font-size: 14px;
    color: var(--color-text--secondary);
}

.data__input {
    padding: 4px;
    border: var(--outline);
    border-radius: 5px;
    font-size: 32px;
    width: 150px;
    text-align: right;
    background-color: var(--color-bg-input);
    color: var(--color-text--main);
}
.data__input::placeholder {
    color: var(--color-text--secondary);
}
.data__input:focus {
    outline: none;
}

.history {
    margin-top: 30px;
}
.history__item {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    color: var(--color-text--main);
}
.text--gray {
    color: var(--color-text--secondary);
}